<!-- component -->
<div class="min-h-screen p-6 flex items-center justify-center mt-2">
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <div class="bg-white rounded shadow-2xl p-4 px-4 md:p-8 mb-6 border relative">
        <div class="absolute right-[18px] top-[18px]" (click)="onClick()">
            <img class="w-[24px] h-[24px] object-cover cursor-pointer" src="../../../assets/cancel.svg" alt="">
        </div>
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600">
            <p class="font-medium text-lg">Personal Details</p>
            <p>Please fill out all the fields.</p>
          </div>

          <div class="lg:col-span-2">
            <form [formGroup]="editProfileForm" (submit)="onSubmit()">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-5">
                    <label for="full_name">Full Name</label>
                    <input
                    type="text"
                    name="full_name"
                    formControlName="name"
                    placeholder="Name"
                    id="full_name"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                    />
                    @if(editProfileForm.get('name')?.hasError('required')  && (editProfileForm.get('name')?.dirty || editProfileForm.get('name')?.touched)){
                        <p class="mt-3 text-sm font-light text-red-500">This Field is required</p>
                    }
                </div>

                <div class="md:col-span-5">
                    <label for="email">Email Address</label>
                    <input
                    type="text"
                    name="email"
                    formControlName="email"
                    id="email"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                    value=""
                    placeholder="email@gmail.com"
                    />
                    @if(editProfileForm.get('email')?.hasError('required')  && editProfileForm.get('email')?.touched){
                        <p class="mt-3 text-sm font-light text-red-500">This Field is required</p>
                    }@else if ((editProfileForm.get('email')?.hasError('pattern') || editProfileForm.get('email')?.hasError('email'))  && editProfileForm.get('email')?.touched) {
                        <p class="mt-3 text-sm font-light text-red-500">Enter Valid Email</p>
                    }@else if (editProfileForm.get('email')?.hasError('isExist')) {
                        <p class="mt-3 text-sm font-light text-red-500">Email already taken!</p>
                    }
                </div>
                <div class="md:col-span-5">
                    <label for="currentPassword">Current Password</label>
                    <input
                    type="password"
                    name="currentPassword"
                    formControlName="currentPass"
                    id="currentPassword"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                    value=""
                    placeholder="*********"
                    />
                    @if(editProfileForm.get('currentPass')?.hasError('err')  && (editProfileForm.get('currentPass')?.dirty || editProfileForm.get('currentPass')?.touched)){
                        <p class="mt-3 text-sm font-light text-red-500">This Field is required</p>
                    }@else if(editProfileForm.get('currentPass')?.hasError('passErr')  && (editProfileForm.get('currentPass')?.dirty || editProfileForm.get('currentPass')?.touched)){
                        <p class="mt-3 text-sm font-light text-red-500">Incorrect current Password!</p>
                    }
                </div>
                <div class="md:col-span-5">
                    <label for="newPassword">New Password</label>
                    <input
                    type="password"
                    name="newPassword"
                    formControlName="newPass"
                    id="newPassword"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                    value=""
                    placeholder="*********"
                    />
                    @if(editProfileForm.get('newPass')?.hasError('err')  && (editProfileForm.get('newPass')?.dirty || editProfileForm.get('newPass')?.touched)){
                        <p class="mt-3 text-sm font-light text-red-500">This Field is required</p>
                    }
                </div>
                <div class="md:col-span-5">
                    <label for="confirmPassword">Confirm Password</label>
                    <input
                    type="password"
                    name="confirmPassword"
                    formControlName="confirmPass"
                    id="confirmPassword"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                    value=""
                    placeholder="*********"
                    />
                    @if(editProfileForm.get('confirmPass')?.hasError('err')  && (editProfileForm.get('confirmPass')?.dirty || editProfileForm.get('confirmPass')?.touched)){
                        <p class="mt-3 text-sm font-light text-red-500">This Field is required</p>
                    }@else if(editProfileForm.get('confirmPass')?.hasError('notMatch') && editProfileForm .get('confirmPass')!.touched) {
                        <p class="mt-3 text-sm font-light text-red-500">Both password's doesn't match</p>
                    }
                </div>
                <div class="md:col-span-5">
                    <label for="profileImage">Profile Image</label>
                    <div class="flex items-center space-x-6">
                    <label class="block">
                        <span class="sr-only">Choose profile photo</span>
                        <input
                        type="file"
                        id="profileImage"
                        formControlName="profileImg"
                        (change)="loadFile($event)"
                        class="block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100 mt-2"
                        />
                        @if(editProfileForm.get('profileImg')?.hasError('typeErr')  && (editProfileForm.get('profileImg')?.dirty || editProfileForm.get('profileImg')?.touched)){
                            <p class="mt-3 text-sm font-light text-red-500">Select Images Only!</p>
                        }
                    </label>
                    </div>
                    @if (previewImg) {
                        <div class="md:col-span-5 mt-5">
                            <div class="shrink-0">
                                <img
                                    id="preview_img"
                                    class="h-32 w-32 object-cover rounded-lg"
                                    [src]="previewImg"
                                    alt="Current profile photo"
                                />
                            </div>
                        </div>
                    }
                </div>

                <div
                    class="md:col-span-5 text-right flex justify-end items-center"
                >
                    <div class="inline-flex items-end">
                    <div class="p-4 mt-2">
                        <button
                        class="w-fit block mx-auto rounded-full bg-gray-100 hover:shadow-lg font-semibold text-black px-6 py-2"
                        >
                        Cancel
                        </button>
                    </div>
                    </div>
                    <div class="inline-flex items-end">
                    <div class="p-4 mt-2">
                        <button
                        type="submit"
                        class="min-w-[135.45px] min-h-[36px] block mx-auto rounded-full bg-gray-900 hover:shadow-lg font-semibold text-white px-6 py-2"
                        >
                        @if(isFormSubmited){
                            <div role="status">
                                <svg aria-hidden="true" class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </div>
                        }@else{
                            Save Changes
                        }
                        </button>
                    </div>
                    </div>
                </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
