<div
  class="p-4 bg-white block sm:flex items-center justify-between border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="w-full mb-1">
    <div class="mb-4">
      <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol
          class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2"
        >
          <li class="inline-flex items-center">
            <a
              routerLink="/admin/home"
              class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white cursor-pointer"
            >
              <svg
                class="w-5 h-5 mr-2.5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                ></path>
              </svg>
              Home
            </a>
          </li>
        </ol>
      </nav>
      <div class="flex justify-between items-center">
        <h1
          class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
        >
          {{ title }}
        </h1>
        <div
          (click)="logOut()"
          class="flex justify-center items-center cursor-pointer px-2 bg-gray-900 rounded shadow-lg"
        >
          <div>
            <p class="font-bold text-red-600 px-2 py-2 text-center">
              Logout
            </p>
          </div>
          <div>
            <img
              class="w-[20px] h-[20px]"
              src="../../../assets/logoutLogo.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    @if(title === 'User Management'){
    <div class="sm:flex">
      <div
        class="items-center hidden mb-3 sm:flex sm:divide-x sm:divide-gray-100 sm:mb-0 dark:divide-gray-700"
      >
        <form class="lg:pr-3" action="#" method="GET">
          <label for="users-search" class="sr-only">Search</label>
          <div class="relative mt-1 lg:w-64 xl:w-96">
            <input
              type="text"
              name="search"
              (keyup)="onChange($event)"
              id="users-search"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Search for users"
            />
          </div>
        </form>
      </div>
      <div class="flex items-center ml-auto space-x-2 sm:space-x-3">
        <a routerLink="/admin/addUser" class="cursor-pointer">
          <button
            type="button"
            data-modal-target="add-user-modal"
            data-modal-toggle="add-user-modal"
            class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            <svg
              class="w-5 h-5 mr-2 -ml-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
            Add user
          </button>
        </a>
      </div>
    </div>
    }
  </div>
</div>
